body {
	background-color: #ccffc0;
	font-family: calibri;
}

div {
	position: fixed;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	color: gold;
	font-size: 100px;
}
